<html>
<head>
	<title>{{ title }}</title>
	<style>
body {
	background-color: gray;
}

#message_box {
	margin:20px;
	padding:10px;
	background-color:#EAEAEA;
	border: 1px solid #222222;
	text-align:center;
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
}

#createdUrl {
	display:block;
	background-color:white;
	padding:6px;
	padding-left:12px;
	padding-right:12px;
	margin:3px;
}
</style>
		
</head>
<body>
	<div id="message_box">
		{{ message|safe }}
	</div>
</body>
</html>
